
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-inner">

    <div class="col-md-9 col-sm-12 col-xs-12">
       
    </div>
</div>
<!-- /. ROW  -->
